
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}
.login-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.login-form button[type="submit"]:hover {
    background-color: #0056b3;
}
.login-form .signup-link {
    text-align: center;
    margin-top: 10px;
}

.login-form .signup-link a {
    color: #007bff;
    text-decoration: none;
}

.login-form .signup-link a:hover {
    text-decoration: underline;
}
